<!DOCTYPE html>
<html lang="en" ng-app="eventsApp">
<head>
	<meta charset="utf-8">
	<title>Event Registration</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body ng-cloak>

<div class="container">
	<nav class="navbar navbar-default" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			  <span class="sr-only">Toggle navigation</span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Events App</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li><a href="/NewEvent.html">Create Event</a></li>
			</ul>
		</div>
	</nav>

	<div ng-controller="EditEventController">
		<div class="container">
			<h1>New Event</h1>

			<hr/>

			<form name="newEventForm" role="form">
				<fieldset>
					<div class="row">
						<div class="col-xs-6">
							<div class="form-group">
								<label for="eventName">Event Name:</label>
								<input id="eventName" required ng-model="event.name" class="form-control" type="text" placeholder="Name of your event..." />
							</div>
							<div class="form-group">
								<label for="eventDate">Event Date:</label>
								<input id="eventDate" required ng-pattern="/\d\d/\d\d/\d\d\d\d/" ng-model="event.date" class="form-control" type="text" placeholder="format (mm/dd/yyyy)..." />
							</div>
							<div class="form-group">
								<label for="eventTime">Event Time:</label>
								<input id="eventTime" ng-model="event.time" class="form-control" type="text" placeholder="start and end time..." />
							</div>
							<div class="form-group">
								<label for="eventLocation">Event Location:</label>
								<input id="eventLocation" ng-model="event.location.address" class="form-control" type="text" placeholder="Address of event..." />
								<br />
								<div class="row">
									<div class="col-xs-6">
										<input id="eventCity" ng-model="event.location.city" type="text" class="form-control" placeholder="City..."	/>
									</div>
									<div class="col-xs-6">
										<input id="eventProvince" ng-model="event.location.province" type="text" class="form-control" placeholder="Province..."/>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="eventImageUrl">Image:</label>
								<input id="eventImageUrl" ng-model="event.imageUrl" type="url" class="form-control" placeholder="Url of image..."/>
							</div>

							<img ng-src="{{event.imageUrl}}" src="" />
						</div>
					</div>					
				</fieldset>

				<div class="row">
					<div class="col-lg-12">					
						<button type="submit" ng-disabled="newEventForm.$invalid" ng-click="saveEvent(event, newEventForm)" class="btn btn-primary">Save</button>
						<button type="button" ng-click="cancelEdit()" class="btn btn-default">Cancel</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript" src="/lib/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="/lib/underscore.js"></script>
<script type="text/javascript" src="/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="/lib/angular/angular.js"></script>
<script type="text/javascript" src="/lib/angular/angular-sanitize.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/controllers/EditEventController.js"></script>
<script type="text/javascript" src="/js/filters.js"></script>
</body>
</html>